<!DOCTYPE html>
<html>

<head>
    <title>AUTOS!</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="./images/car-icon.png" />
    <link rel="stylesheet" type="text/css" href="./vendor/normalize.css">
    <link rel="stylesheet" type="text/css" href="./styles/main.css">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <!-- Font Awesome Icon Library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script>
       function formatiraj(arg) {
        let n = arg.substring(4, 15)
        let m = n.substring(0, 3)
        switch (m) {
            case "Jan":
                m = "siječnja"
                break;
            case "Feb":
                m = "veljače"
                break;
            case "Mar":
                m = "ožujka"
                break;
            case "Apr":
                m = "travnja"
                break;
            case "May":
                m = "svibnja"
                break;
            case "Jun":
                m = "lipnja"
                break;
            case "Jul":
                m = "srpnja"
                break;
            case "Aug":
                m = "kolovoza"
                break;
            case "Sep":
                m = "rujna"
                break;
            case "Oct":
                m = "listopada"
                break;
            case "Nov":
                m = "studenoga"
                break;
            case "Dec":
                m = "prosinca"
                break;
            default:
                break;
        }
        let dd = n.substring(4, 6)
        if(dd[0] == "0") dd = dd[1]
        let yy = n.substring(7, 11)        
        let rez = dd.concat(". ").concat(m).concat(".").concat(" ").concat(yy).concat(".")
        document.write(rez)
    }; 

    function izracunajUkCijenu(dat1, dat2, cijena) {
        let prvi = new Date(dat1);
        let drugi = new Date(dat2);
        var difference_in_time = drugi.getTime() - prvi.getTime();
        var difference_in_days = difference_in_time / (1000 * 3600 * 24);
        var ukCijena = difference_in_days.toFixed() * cijena;
        document.write(ukCijena.toFixed(2).concat(" kn"));
    };

    function delReservation() {
            if (confirm('Jeste li sigurni da želite obrisati ovu rezervaciju?') == true) {
                //obrisi racun
                document.getElementById("del-reservation-link").click();
                //odjava
            } else {
                //odustani
            }
            return 
        }

    </script>

</head>

<body style="text-align: center;">

    <%- include(`partials/header`); %>

    <!-- Trenutne rezervacije -->

    <div id="aktivneBlock">
        <h1 style="text-align:center" id="myReservationHeader">Trenutne rezervacije</h1>
        <hr>
        <% if(aktivnePostoji == true) { %>
        <div class="myBlock">
            <table class="myReservationTable">
                <tr style="text-align: center;">
                    <th style="text-align: center;"class="th" style="width: 15%;">Slika</th>
                    <th style="text-align: center;" class="th" style="width: 10%;">Rezervirano vozilo</th>
                    <th style="text-align: center;" class="th" style="width: 5%;">Registracija</th>
                    <th style="text-align: center;" class="th" style="width: 10%;">Adresa preuzimanja</th>
                    <th style="text-align: center;" class="th" style="width: 10%;">Adresa ostavljanja</th>
                    <th style="text-align: center;" class="th" style="width: 10%;">Vrijeme preuzimanja</th>
                    <th style="text-align: center;" class="th" style="width: 10%;">Vrijeme ostavljanja</th>
                    <th style="text-align: center;" class="th" style="width: 8%;">Tip plaćanja</th>
                    <th style="text-align: center;" class="th" style="width: 5%;">Cijena</th>
                    <th style="text-align: center;" class="th" style="width: 7%;">Status</th>
                    <th style="text-align: center;" class="th" style="width: 10%;"></th>
                </tr>
            <% for (let rez of aktivne) { %>
                <div>
                    <tr class="tr">
                        <td class="td" style="width: 15%;">
                            <img id="myImg" alt="<%=rez.marka%> <%=rez.model%>" class="photo-box-image" src= "<%= rez.slikaurl %>">
                            <!-- The Modal -->
                            <div id="myModal" class="modal">
                                <span class="close">&times;</span>
                                <img class="modal-content" id="img01">
                                <div id="caption"></div>
                            </div>
                        </td>
                        <td class="td" style="width: 10%;"><%= rez.marka %> <%= rez.model %> </td>
                        <td class="td" style="width: 5%;"><%= rez.registracija %></td>
                        <td class="td" style="width: 10%;"><%= rez.lokacijapreuzimanja %></td>
                        <td class="td" style="width: 10%;"><%= rez.lokacijaostavljanja %></td>
                        <td class="td" style="width: 10%;">
                            <script>formatiraj('<%= rez.vrijemepreuzimanja %>');</script>
                        </td>
                        <td class="td" style="width: 10%;">
                            <script>formatiraj('<%= rez.vrijemezavrsetka %>');</script>
                        </td>
                        <td class="td" style="width: 8%;">
                            <% if(rez.tipplacanja == 'cash' || rez.tipplacanja == 'gotovina') { %>Gotovina
                            <% } else { %> Kartica <% }%>
                        </td>
                        <td class="td" style="width: 5%;">
                            <script>izracunajUkCijenu('<%= rez.vrijemepreuzimanja %>', '<%= rez.vrijemezavrsetka %>', '<%= rez.cijenadan %>');</script>
                        </td>
                        <td class="td" style="width: 7%;">
                            <% if(rez.status == 'aktivna') { %> Aktivna rezervacija
                                <% } else { %> Neaktivna rezervacija <% }%>
                        </td>
                        <td class="td" style="align-items: center;" id="smallIcons" style="width: 10%;">
                            <div class="tooltip">
                                <img class="smallsvg" id="reservation-del" src="../images/delete.svg" value="true" onclick="delReservation()">
                                <span class="tooltiptext">Obriši rezervaciju</span>
                            </div>
                            <div class="tooltip">
                                <img class="smallsvg" id="reservation-edit" onclick="editReservation()" src="../images/pencil.svg">
                                <span class="tooltiptext">Uredi rezervaciju</span>
                            </div>
                            <!--Sakriveni botun-->
                            <form action="/user" method="POST" style="display: none;">
                                <div class="formItem inputField col-12">
                                    <input type="hidden" id="deleteIn" name="delReservation" value="<%= rez.idrezervacija%>">
                                </div>
                                <button type="submit" id="del-reservation-link" value="Submit" style="display: none;"></button>
                            </form>
                        </td>
                    </tr>
                </div>
                <% } %>
            </table>
        </div>
        <% } else { %>
            <div id="reservation-msg">
                <h1> Nemate trenutnih rezervacija.</h1>
            </div>
        <% } %>
    </div>
    
    <br><br><br>

    <!-- Zavrsene rezervacije -->

    <div id="aktivneBlock">
        <h1 style="text-align:center" id="myReservationHeader">Trenutne rezervacije</h1>
        <hr>
        <% if(zavrsenePostoji == true) { %>
        <div class="myBlock">
            <table class="myReservationTable">
                <tr style="text-align: center;">
                    <th style="text-align: center;"class="th" style="width: 15%;">Slika</th>
                    <th style="text-align: center;" class="th" style="width: 10%;">Rezervirano vozilo</th>
                    <th style="text-align: center;" class="th" style="width: 5%;">Registracija</th>
                    <th style="text-align: center;" class="th" style="width: 10%;">Adresa preuzimanja</th>
                    <th style="text-align: center;" class="th" style="width: 10%;">Adresa ostavljanja</th>
                    <th style="text-align: center;" class="th" style="width: 10%;">Vrijeme preuzimanja</th>
                    <th style="text-align: center;" class="th" style="width: 10%;">Vrijeme ostavljanja</th>
                    <th style="text-align: center;" class="th" style="width: 8%;">Tip plaćanja</th>
                    <th style="text-align: center;" class="th" style="width: 5%;">Cijena</th>
                    <th style="text-align: center;" class="th" style="width: 7%;">Status</th>
                    <th style="text-align: center;" class="th" style="width: 10%;"></th>
                </tr>
            <% for (let rez of zavrsene) { %>
                <div>
                    <tr class="tr">
                        <td class="td" style="width: 15%;">
                            <img id="myImg" alt="<%=rez.marka%> <%=rez.model%>" class="photo-box-image" src= "<%= rez.slikaurl %>">
                            <!-- The Modal -->
                            <div id="myModal" class="modal">
                                <span class="close">&times;</span>
                                <img class="modal-content" id="img01">
                                <div id="caption"></div>
                            </div>
                        </td>
                        <td class="td" style="width: 10%;"><%= rez.marka %> <%= rez.model %> </td>
                        <td class="td" style="width: 5%;"><%= rez.registracija %></td>
                        <td class="td" style="width: 10%;"><%= rez.lokacijapreuzimanja %></td>
                        <td class="td" style="width: 10%;"><%= rez.lokacijaostavljanja %></td>
                        <td class="td" style="width: 10%;">
                            <script>formatiraj('<%= rez.vrijemepreuzimanja %>');</script>
                        </td>
                        <td class="td" style="width: 10%;">
                            <script>formatiraj('<%= rez.vrijemezavrsetka %>');</script>
                        </td>
                        <td class="td" style="width: 8%;">
                            <% if(rez.tipplacanja == 'cash' || rez.tipplacanja == 'gotovina') { %>Gotovina
                            <% } else { %> Kartica <% }%>
                        </td>
                        <td class="td" style="width: 5%;">
                            <script>izracunajUkCijenu('<%= rez.vrijemepreuzimanja %>', '<%= rez.vrijemezavrsetka %>', '<%= rez.cijenadan %>');</script>
                        </td>
                        <td class="td" style="width: 7%;">
                            Završena rezervacija
                        </td>
                        <td class="td" style="align-items: center;" id="smallIcons" style="width: 10%;">
                            <div class="tooltip">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="tooltiptext">Ocijeni uslugu</span>
                            </div>
                        </td>
                    </tr>
                </div>
                <% } %>
            </table>
        </div>
        <% } else { %>
            <div id="reservation-msg">
                <h1> Nemate završenih rezervacija.</h1>
            </div>
        <% } %>
    </div>
    

    <script>
        // Get the modal
        var modal = document.getElementById("myModal");
        
        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById("myImg");
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        img.onclick = function(){
          modal.style.display = "block";
          modalImg.src = this.src;
          captionText.innerHTML = this.alt;
        }
        
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() { 
          modal.style.display = "none";
        }

        </script>
</body>

<%- include(`partials/footer`); %>
