<!DOCTYPE html>
<html>

<head>
    <title>AUTOS!</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="./images/car-icon.png" />
    <link rel="stylesheet" type="text/css" href="./vendor/normalize.css">
    <link rel="stylesheet" type="text/css" href="./styles/main.css">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <!-- Font Awesome Icon Library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script>
       function formatiraj(arg) {
        let n = arg.substring(4, 15)
        let m = n.substring(0, 3)
        switch (m) {
            case "Jan":
                m = "siječnja"
                break;
            case "Feb":
                m = "veljače"
                break;
            case "Mar":
                m = "ožujka"
                break;
            case "Apr":
                m = "travnja"
                break;
            case "May":
                m = "svibnja"
                break;
            case "Jun":
                m = "lipnja"
                break;
            case "Jul":
                m = "srpnja"
                break;
            case "Aug":
                m = "kolovoza"
                break;
            case "Sep":
                m = "rujna"
                break;
            case "Oct":
                m = "listopada"
                break;
            case "Nov":
                m = "studenoga"
                break;
            case "Dec":
                m = "prosinca"
                break;
            default:
                break;
        }
        let dd = n.substring(4, 6)
        if(dd[0] == "0") dd = dd[1]
        let yy = n.substring(7, 11)        
        let rez = dd.concat(". ").concat(m).concat(".").concat(" ").concat(yy).concat(".")
        document.write(rez)
    }; 

    function izracunajUkCijenu(dat1, dat2, cijena) {
        let prvi = new Date(dat1);
        let drugi = new Date(dat2);
        var difference_in_time = drugi.getTime() - prvi.getTime();
        var difference_in_days = difference_in_time / (1000 * 3600 * 24);
        var ukCijena = difference_in_days.toFixed() * cijena;
        document.write(ukCijena.toFixed(2).concat(" kn"));
    };

    function delReservation (arg) {
            if (confirm('Jeste li sigurni da želite obrisati ovu rezervaciju?') == true) {
                let x = "brisanje".concat(arg)
                console.log(x)
                //obrisi racun
                document.getElementById(x).click();
                //odjava
            } else {
                //odustani
            }
            return 
    }

    //Recenzija - zvijezdice
    function ocijeni(broj) {
    	document.getElementById("ocjena5").style.color = "black";
        document.getElementById("ocjena4").style.color = "black";
        document.getElementById("ocjena3").style.color = "black";
        document.getElementById("ocjena2").style.color = "black";
        document.getElementById("ocjena1").style.color = "black";
    	switch(broj) {
        	case 5: document.getElementById("ocjena5").style.color = "orange";
            case 4: document.getElementById("ocjena4").style.color = "orange";
        	case 3: document.getElementById("ocjena3").style.color = "orange";
        	case 2: document.getElementById("ocjena2").style.color = "orange";
            case 1: document.getElementById("ocjena1").style.color = "orange";
            default: break;
        }
    }

    </script>



</head>

<body style="text-align: center;">

    <%- include(`partials/header`); %>

    <!-- Trenutne rezervacije -->
    <% broj = 0 %>
    <div id="aktivneBlock">
        <h1 style="text-align:center" id="myReservationHeader">Trenutne rezervacije</h1>
        <hr>
        <% if(aktivnePostoji == true) { %>
        <div class="myBlock">
            <table class="myReservationTable">
                <tr style="text-align: center;">
                    <th style="text-align: center;"class="th" style="width: 15%;">Slika</th>
                    <th style="text-align: center;" class="th" style="width: 10%;">Rezervirano vozilo</th>
                    <th style="text-align: center;" class="th" style="width: 5%;">Registracija</th>
                    <th style="text-align: center;" class="th" style="width: 10%;">Adresa preuzimanja</th>
                    <th style="text-align: center;" class="th" style="width: 10%;">Adresa ostavljanja</th>
                    <th style="text-align: center;" class="th" style="width: 10%;">Vrijeme preuzimanja</th>
                    <th style="text-align: center;" class="th" style="width: 10%;">Vrijeme ostavljanja</th>
                    <th style="text-align: center;" class="th" style="width: 8%;">Tip plaćanja</th>
                    <th style="text-align: center;" class="th" style="width: 5%;">Cijena</th>
                    <th style="text-align: center;" class="th" style="width: 7%;">Status</th>
                    <th style="text-align: center;" class="th" style="width: 10%;"></th>
                </tr>
            <% for (let rez of aktivne) { %>
                <% broj = broj + 1 %>
                <div>
                    <tr class="tr">
                        <td class="td" style="width: 15%;">
                            <img id="myImg" src= "<%= rez.slikaurl %>" onclick="slicica('<%=rez.slikaurl%>','<%=rez.marka%> <%=rez.model%>');" class="myImg-<%=broj%>" alt="<%=rez.marka%> <%=rez.model%>">
                            <!-- The Modal -->
                            <div id="myModal" class="modal-<%=broj%>">
                                <span class="close" onclick="zatvori();">&times;</span>
                                <img class="modal-content-<%=broj%>" id="img01">
                                <div id="caption" class="caption-<%=broj%>"></div>
                            </div>
                        </td>
                        <td class="td" style="width: 10%;"><%= rez.marka %> <%= rez.model %> </td>
                        <td class="td" style="width: 5%;"><%= rez.registracija %></td>
                        <td class="td" style="width: 10%;">
                            <div class="tooltip-lokacija">
                                <%= rez.lokacijapreuzimanja %>
                                <a class="tooltiptext-lokacija" href="https://www.google.com/maps/place/<%= rez.lokacijapreuzimanja %>/Zagreb" target="_blank" rel="noopener noreferrer">Otvori lokaciju u Google mapama</a>
                            </div> 
                        </td>
                        <td class="td" style="width: 10%;">
                            <div class="tooltip-lokacija">
                                <%= rez.lokacijaostavljanja %>
                                <a class="tooltiptext-lokacija" href="https://www.google.com/maps/place/<%= rez.lokacijaostavljanja %>/Zagreb" target="_blank" rel="noopener noreferrer">Otvori lokaciju u Google mapama</a>
                            </div> 
                        </td>
                        <td class="td" style="width: 10%;">
                            <script>formatiraj('<%= rez.vrijemepreuzimanja %>');</script>
                        </td>
                        <td class="td" style="width: 10%;">
                            <script>formatiraj('<%= rez.vrijemezavrsetka %>');</script>
                        </td>
                        <td class="td" style="width: 8%;">
                            <% if(rez.tipplacanja == 'cash' || rez.tipplacanja == 'gotovina') { %>Gotovina
                            <% } else { %> Kartica <% }%>
                        </td>
                        <td class="td" style="width: 5%;">
                            <div class="tooltip">
                                <script>izracunajUkCijenu('<%= rez.vrijemepreuzimanja %>', '<%= rez.vrijemezavrsetka %>', '<%= rez.cijenadan %>');</script>
                                <span class="tooltiptext">Cijena za jedan dan iznosi: <%=rez.cijenadan%> kn</span>
                            </div> 
                        </td>
                        <td class="td" style="width: 7%;">
                            <div class="tooltip-lokacija">
                            <% if(rez.status == 'aktivna') { %> Aktivna rezervacija
                                <% } else { %> Neaktivna rezervacija <% }%>
                            <span class="tooltiptext-lokacija">Rezervacija je aktivna ako je vozilo preuzeto i ako se trenutno koristi, inače se smatra neaktivnom</span>
                            </div>  
                        </td>
                        <td class="td" style="align-items: center;" id="smallIcons" style="width: 10%;">
                            <div class="tooltip">
                                <img class="smallsvg" id="reservation-del" src="../images/delete.svg" value="true" onclick="delReservation('<%= rez.idrezervacija%>')">
                                <span class="tooltiptext">Obriši rezervaciju</span>
                            </div>
                            <div class="tooltip">
                                <img class="smallsvg" id="reservation-edit" onclick="editReservation()" src="../images/pencil.svg">
                                <span class="tooltiptext">Uredi rezervaciju</span>
                            </div>
                            <!--Sakriveni botun-->
                            <form action="/cart" method="POST" style="display: none;">
                                <div class="formItem inputField col-12">
                                    <input type="hidden" id="deleteIn" name="delReservation" value="<%= rez.idrezervacija%>">
                                </div>
                                <button type="submit" id="brisanje<%= rez.idrezervacija%>" value="Submit" style="display: none;"></button>
                            </form>
                        </td>
                    </tr>
                </div>
                <% } %>
            </table>
        </div>
        <% } else { %>
            <div id="reservation-msg">
                <br><br>
                <img class="empty-cart" id="" src="../images/empty-shopping-cart.svg">
                <h1> Nemate trenutnih rezervacija :( </h1>
            </div>
        <% } %>
    </div>
    
    <br>

    <!-- Zavrsene rezervacije -->

    <div id="aktivneBlock">
        <h1 style="text-align:center" id="myReservationHeader">Završene rezervacije</h1>
        <hr>
        <% if(zavrsenePostoji == true) { %>
        <div class="myBlock">
            <table class="myReservationTable">
                <tr style="text-align: center;">
                    <th style="text-align: center;"class="th" style="width: 10%;">Slika</th>
                    <th style="text-align: center;" class="th" style="width: 10%;">Rezervirano vozilo</th>
                    <th style="text-align: center;" class="th" style="width: 10%;">Registracija</th>
                    <th style="text-align: center;" class="th" style="width: 8%;">Adresa preuzimanja</th>
                    <th style="text-align: center;" class="th" style="width: 8%;">Adresa ostavljanja</th>
                    <th style="text-align: center;" class="th" style="width: 7%;">Vrijeme preuzimanja</th>
                    <th style="text-align: center;" class="th" style="width: 7%;">Vrijeme ostavljanja</th>
                    <th style="text-align: center;" class="th" style="width: 8%;">Tip plaćanja</th>
                    <th style="text-align: center;" class="th" style="width: 7%;">Cijena</th>
                    <th style="text-align: center;" class="th" style="width: 10%;">Status</th>
                    <th style="text-align: center;" class="th" style="width: 15%;">Ocjena</th>
                </tr>
            <% for (let rez of zavrsene) { %>
                <% broj = broj + 1%>
                <div>
                    <tr class="tr">
                        <td class="td" style="width: 10%;">
                            <img id="myImg" onclick="slicica('<%=rez.slikaurl%>','<%=rez.marka%> <%=rez.model%>');" alt="<%=rez.marka%> <%=rez.model%>" class="myImg-<%=broj%>" src= "<%= rez.slikaurl %>">
                            <!-- The Modal -->
                            <div id="myModal" class="modal-<%=broj%>">
                                <span class="close" onclick="zatvori()">&times;</span>
                                <img class="modal-content-<%=broj%>" id="img01">
                                <div id="caption" class="caption-<%=broj%>"></div>
                            </div>
                        </td>
                        <td class="td" style="width: 10%;"><%= rez.marka %> <%= rez.model %> </td>
                        <td class="td" style="width: 10%;"><%= rez.registracija %></td>
                        <td class="td" style="width: 8%;">
                            <div class="tooltip-lokacija">
                                <%= rez.lokacijapreuzimanja %>
                                <a class="tooltiptext-lokacija" href="https://www.google.com/maps/place/<%= rez.lokacijapreuzimanja %>/Zagreb" target="_blank" rel="noopener noreferrer">Otvori lokaciju u Google mapama</a>
                            </div> 
                        </td>
                        <td class="td" style="width: 8%;">
                            <div class="tooltip-lokacija">
                                <%= rez.lokacijaostavljanja %>
                                <a class="tooltiptext-lokacija" href="https://www.google.com/maps/place/<%= rez.lokacijaostavljanja %>/Zagreb" target="_blank" rel="noopener noreferrer">Otvori lokaciju u Google mapama</a>
                            </div> 
                        </td>
                        <td class="td" style="width: 7%;">
                            <script>formatiraj('<%= rez.vrijemepreuzimanja %>');</script>
                        </td>
                        <td class="td" style="width: 7%;">
                            <script>formatiraj('<%= rez.vrijemezavrsetka %>');</script>
                        </td>
                        <td class="td" style="width: 8%;">
                            <% if(rez.tipplacanja == 'cash' || rez.tipplacanja == 'gotovina') { %>Gotovina
                            <% } else { %> Kartica <% }%>
                        </td>
                        <td class="td" style="width: 7%;">
                            <div class="tooltip">
                                <script>izracunajUkCijenu('<%= rez.vrijemepreuzimanja %>', '<%= rez.vrijemezavrsetka %>', '<%= rez.cijenadan %>');</script>
                                <span class="tooltiptext">Cijena za jedan dan iznosi: <%=rez.cijenadan%> kn</span>
                            </div> 
                        </td>
                        <td class="td" style="width: 10%;">
                            Završena rezervacija
                        </td>
                        <td class="td" style="width: 15%;">
                            <div class="tooltip-recenzija">
                                <div class = "container1">
                                    <div class = "star-widget" style="display: inline-block;">
                                        <input type="checkbox" name="rate" id="rate-1" onclick = "ocijeni(1)"><label for = "rate-1" id="ocjena1">&#9733;</label>
                                        <input type="checkbox" name="rate" id="rate-2" onclick = "ocijeni(2)"><label for = "rate-2" id="ocjena2">&#9733;</label>
                                        <input type="checkbox" name="rate" id="rate-3" onclick = "ocijeni(3)"><label for = "rate-3" id="ocjena3">&#9733;</label>
                                        <input type="checkbox" name="rate" id="rate-4" onclick = "ocijeni(4)"><label for = "rate-4" id="ocjena4">&#9733;</label>
                                        <input type="checkbox" name="rate" id="rate-5" onclick = "ocijeni(5)"><label for = "rate-5" id="ocjena5">&#9733;</label>
                                    </div>
                                </div>
                                <span class="tooltiptext-recenzija">Ocijeni uslugu</span>
                            </div>
                        </td>
                    </tr>
                </div>
                <% } %>
            </table>
        </div>
        <% } else { %>
            <div id="reservation-msg">
                <br><br>
                <img class="empty-cart" id="" src="../images/empty-shopping-cart.svg">
                <h1> Nemate trenutnih rezervacija :( </h1>
            </div>
        <% } %>
    </div>
    

    <script>
        
        function slicica(srcposlan, altposlan){
            // Get the modal
            var modal = document.getElementsByClassName("modal-<%=broj%>");
            // Get the image and insert it inside the modal - use its "alt" text as a caption
            var modalImg = document.getElementsByClassName("modal-content-<%=broj%>")[0];
            var captionText = document.getElementsByClassName("caption-<%=broj%>")[0];
            console.log(modalImg);

            for(var i=0, len=modal.length; i<len; i++) {
                modal[0].style["display"] = "block";
            }
            modalImg.src = srcposlan;
            captionText.innerHTML = altposlan;
        }
        
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        
        // When the user clicks on <span> (x), close the modal
        function zatvori() { 
            var modal = document.getElementsByClassName("modal-<%=broj%>");
            for(var i=0, len=modal.length; i<len; i++) {
                modal[0].style["display"] = "none";
            }
        }

        

        </script>
</body>

<%- include(`partials/footer`); %>
