<!DOCTYPE html>
<html>

<head>
    <title>AUTOS!</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="./images/car-icon.png" />
    <link rel="stylesheet" type="text/css" href="./vendor/normalize.css">
    <link rel="stylesheet" type="text/css" href="./styles/main.css">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>

<script>
    function pritisak(a) {
        console.log(a)
        var e = document.getElementById(a)
        if(e.style.display === "none") e.style.display = "block"
        else e.style.display = "none"
    }
</script>

<body class="content">
    <%- include(`partials/header`); %>
        <h1 style="text-align:center">VLASNIK</h1>
        <div class="container">
            <div class="container"></div>
            <div class="container">
                <form action="/owner" method="POST">
                    <input type="hidden" name="getAllRes" />
                    <input type="submit" value="Prikaz svih rezervacija" />
                </form>
                <div>

                    <% if(allReservations !=undefined){ %>
                        <hr>
                        Broj: <%= allReservations.length %>
                            <hr>
                            <% for (let r of allReservations) { %>
                                <div>
                                    <%= r.idrezervacija %>
                                        <%= r.korisnickoime %>

                                            <%= r.vrijemezavrsetka %>

                                </div>
                                <% } %>
                                    <% } %>
                </div>
            </div>
            <div class="container">
                <form action="/owner" method="POST">
                    <input type="hidden" name="getActiveRes" />
                    <input type="submit" value="Prikaz aktivnih rezervacija" />
                </form>
                <div>

                    <% if(reservations !=undefined){ %>
                        <hr>
                        Broj: <%= reservations.length %>
                            <hr>
                            <% for (let r of reservations) { %>
                                <div>
                                    <%= r.idrezervacija %>
                                        <%= r.korisnickoime %>
                                        <%= r.vrijemepreuzimanja%>
                                            <%= r.vrijemezavrsetka %>

                                </div>
                                <% } %>
                                    <% } %>
                </div>
            </div>
            <div class="container">
                <form action="/owner" method="POST">
                    <input type="hidden" name="getVehicles" />
                    <input type="submit" value="Prikaz dostupnih vozila" />
                </form>
                <div>

                    <% if(vehicles !=undefined){ %>
                        <hr>
                        Broj: <%= vehicles.length %>
                            <hr>
                            <% for (let vehicle of vehicles) { %>
                                <div>
                                    <%= vehicle.registracija %>
                                </div>
                                <% } %>
                                    <% } %>
                </div>
            </div>
            <div class="container">
                <form action="/owner" method="POST">
                    <input type="hidden" name="getAllVehicles" />
                    <input type="submit" value="Prikaz svih vozila" />
                </form>
                <div>

                    <% if(allVehicles !=undefined){ %>
                        <hr>
                        Broj: <%= allVehicles.length %>
                            <hr>
                            <% for (let vehicle of allVehicles) { %>
                                <div>
                                    <%= vehicle.registracija %>
                                </div>
                                <% } %>
                                    <% } %>
                </div>
            </div>
            
            <div class="centered-container formContainer">
                <button class="submitButton" onclick="pritisak('dodavanjeVozila')">Dodavanje vozila</button>
                <form action="/owner", method="post" id="dodavanjeVozila" style="display: none;">
                    <div class="formItem inputField col-12">
                        <input type="text" name="registracijaAdd" placeholder="Registracija oznaka" maxlength="8" minlength="7">
                    </div>
                    <div class="formItem inputField col-12">
                        <input type="text" name="markaAdd" placeholder="Marka vozila" minlength="4">
                    </div>
                    <div class="formItem inputField col-12">
                        <input type="text" name="modelAdd" placeholder="Model vozila" minlength="4">
                    </div>
                    <div class="formItem inputField col-12">
                        <input type="text" name="kategorijaAdd" placeholder="Kategorija vozila" minlength="4">
                    </div>
                    <div class="formItem inputField col-12">
                        <input type="text" name="cijenadanAdd" placeholder="Dnevna cijena" minlength="1" maxlength="4">
                    </div>
                    <div class="formItem inputField col-12">
                        <input type="text" name="slikaurlAdd" placeholder="Fotografija (URL)" minlength="4">
                    </div>

                    <div class="formItem col-12"></div>
                    <div class="formItem col-12">
                        <button type="submit" value="Submit" class="submitButton">Dodaj vozilo</button>
                    </div>
                </form>
                
            </div>

            <div class="centered-container formContainer">
                <button class="submitButton" onclick="pritisak('uklanjanjeVozila')">Uklanjanje vozila</button>
                <form action="/owner" method="post" id="uklanjanjeVozila" style="display: none;">
                    <div class="formItem inputField col-12">
                        <input type="text" name="registracijaDel" placeholder="Registracijska oznaka" minlength="4">
                    </div>
                    <div class="formItem col-12">
                        <button type="submit" value="Submit" class="submitButton">Ukloni vozilo</button>
                    </div>
                </form>
            </div>

            <div class="centered-container formContainer">
                <button class="submitButton" onclick="pritisak('uredivanjeVozila')">Uklanjanje vozila</button>
                <form action="/owner" method="post" id="uredivanjeVozila" style="display: none;">
                    <div class="formItem inputField col-12">
                        <input type="text" name="registracijaEdit" placeholder="Nova registracijska oznaka" minlength="4">
                    </div>
                    <div class="formItem inputField col-12">
                        <input type="text" name="kategorijaEdit" placeholder="Nova kategorija vozila" minlength="4">
                    </div>
                    <div class="formItem inputField col-12">
                        <input type="text" name="cijenadanEdit" placeholder="Nova dnevna cijena" minlength="4">
                    </div>
                    <div class="formItem inputField col-12">
                        <input type="text" name="slikaurlEdit" placeholder="Nova fotografija (URL)" minlength="4">
                    </div>
                    <div class="formItem col-12">
                        <button type="submit" value="Submit" class="submitButton">Ukloni vozilo</button>
                    </div>
                </form>
            </div>

            <div class="centered-container formContainer">
                <button class="submitButton" onclick="pritisak('zatvaranjeRezervacije')">Zatvaranje rezervacije</button>
                <form action="/owner" method="post" id="zatvaranjeRezervacije" style="display: none;">
                    <div class="formItem inputField col-12">
                        <input type="text" name="rezervacijaClose" placeholder="ID rezervacije" minlength="4">
                    </div>
                    <div class="formItem col-12">
                        <button type="submit" value="Submit" class="submitButton">Zatvori rezervaciju</button>
                    </div>
                </form>
            </div>
        </div>
</body>