<!DOCTYPE html>
<html>

<head>
    <title>AUTOS!</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="./images/car-icon.png" />
    <link rel="stylesheet" type="text/css" href="./vendor/normalize.css">
    <link rel="stylesheet" type="text/css" href="./styles/main.css">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>

<body class="content">

    <script>
        function editDataForm() {
            var x = document.getElementById("form");
            if (x.style.display === "none") {
            x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        function del() {
            if (confirm('Jeste li sigurni da želite obrisati svoj korisnički račun?') == true) {
                //obrisi racun
                document.getElementById("del-link").click();
                //odjava
            } else {
                //odustani
            }
            return 
        }
    </script>

    <%- include(`partials/header`); %>

    <main class="main">
        <section>
            <br>
            <div class="container" >
                <br>
                <div class="myData">
                    <div class="up">
                        <h1 class="h1User">Korisnički profil
                            <div class="tooltip">
                                <img class="smallsvg" id="user-edit" title="Obrisi" onclick="editDataForm()" src="../images/pencil.svg">
                                <span class="tooltiptext">Uredi korisničke podatke</span>
                            </div>
                            <div class="tooltip">
                                <img class="smallsvg" id="user-del" src="../images/delete.svg" value="true" onclick="del()">
                                <span class="tooltiptext">Obriši korisnički račun</span>
                            </div>
                        </h1>
                        <% if(user !== undefined) { %> 
                        <h3 class="hUser">KORISNIČKO IME: <%= user.korisnickoime %></h3>
                        <h3 class="hUser">IME: <%= user.ime %></h3>
                        <h3 class="hUser">PREZIME: <%= user.prezime %></h3>
                        <h3 class="hUser">E-MAIL: <%= user.email %></h3>
                        <% } %>
                    </div>
                    <div class="down">
                        <img style="max-height: 250px;" src="../images/user-img.png">
                    </div>
                </div>
                    
                
                <section class="section container">
                    <br><br>
                    <form class="centered-container formContainer" action="/user" method="post" id="form" style = "display: none;">
                        <div class="formItem inputField col-12"></div>
                        <fieldset id="field">
                            <legend style="color: #003d52">Uredi korisničke podatke</legend>
    
                            <div class="formItem inputField col-12">
                                <input type="text" placeholder="Ime" maxlength="20" minlength="1" id="name" name="name"><br>
                            </div>
                            <div class="formItem inputField col-12">
                                <input type="text" placeholder="Prezime" maxlength="20" minlength="1" id="lastname" name="lastname"><br>
                            </div>
                            <div class="formItem inputField col-12">
                                <input type="email" placeholder="E-mail" maxlength="30" minlength="1" id="email" name="email"><br>
                            </div>
                            <br>
                            <input value="Promijeni" class="promijeniButton" type="submit"> <input type="reset" class="promijeniButton" value="Poništi">
                            <br><br>
                        </fieldset>
                    </form>
                    <!--Sakriveni botun-->
                    <form action="/user" method="POST">
                        <div class="formItem inputField col-12">
                            <input type="hidden" id="deleteIn" name="delete">
                        </div>
                        <button type="submit" id="del-link" value="Submit" style="display: none;"></button>
                    </form>
                </section>
            </div>
            <br><br>

            <section class="section container">
                <div class="centered-container formContainer" style="width: 110%;">
                    <form action="/user" method="post" id="forma">
                        <div class="formItem inputField col-12"></div>
                        <fieldset id="field">
                            <legend style="color: #003d52">Promijeni lozinku</legend>

                            <div class="formItem inputField col-12" >
                                <input type="password" placeholder="Trenutna lozinka" maxlength="20" minlength="8" id="password" name="password"><br>
                            </div>
                            <div class="formItem inputField col-12">
                                <input type="password" placeholder="Nova lozinka" maxlength="20" minlength="8" id="password1" name="password1"><br>
                            </div>
                            <div class="formItem inputField col-12">
                                <input type="password" placeholder="Ponovi novu lozinku" maxlength="20" minlength="8" id="password2" name="password2"><br>
                            </div>
                            <br>
                            <div class="formItem col-12">
                                <input class ="promijeniButton" type="submit" value="Promijeni"> <input type="reset" class="promijeniButton" value="Poništi">
                            </div>
                            <br>
                            <% if (err !== undefined ) { %>
                            <p style="justify-content: center; color: red;"><%= err %></p>
                            <% } %>
                            <% if (msg !== undefined ) { %>
                                <p style="justify-content: center; color: green;"><%= msg %></p>
                            <% } %>
                            
                        </fieldset>
                    </form>
                </div>
                <br><br>
            </section>
        </section>
    </main>

</body>
<%- include(`partials/footer`); %>

</html>